<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Munu Admin</title>
    <body>
        <div class="nametext"><p10 class="name"><%= user.name %> <%= user.surname %></p10></div>

        <div>
        <h1>เลือกเมนู</h1>
        <p></p>
        <input type="button" value="ลางาน" onclick="window.location.href='/user/leave'"> <br><br>
        <input type="button" value="ดูประวัติการลา" onclick="window.location.href='/user/list-history'"><br><br>
        <input type="button" value="เปลี่ยนรหัสผ่าน(ยังไม่เปิดใช้งาน)" onclick="window.location.href='http://localhost:8080/PageRegister' "> <br><br>
        <p></p>
        <form >

        </form>
        </div>
    </body>

    <style>
        h1{
            font-size: 50px;
        }
        p1{
            font-size: 30px;
        }
              /* div{
                text-align: center;
                width: 40%;
                height: auto;
                background-color: #ffffff;
                border: 1px solid #919191;
                margin: auto;
              } */
       form{
        font-size: 25px;
       }
        body{
            text-align: center;
            background-color: aquamarine;
            /* background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#21f0ff));
            background: -webkit-linear-gradient(bottom left, #08aeea 0%, #46ff21 100%);
            background: -moz-linear-gradient(bottom left, #08aeea 0%, #2194ff 100%);
            background: -o-linear-gradient(bottom left, #08aeea 0%, #21aeff 100%);
            background: linear-gradient(to top right, #08aeea 0%, #61ffb0 100%);
            min-height: 100vh; */
        }
        input{
            
            font-size:18px;
            width: 85%;
            padding: 15px;
            background-color: #0099ff;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
        p{
            font-size: 50px;
        }
        
        div.nametext{
            text-align: right;
        }
        
    </style>

    
</html>